body,
html
  height: 100%
  width: 100%
  overflow: hidden
  cursor: default

  &::selection
    cursor: default

::selection
  display: none

// TODO: find a better way to position both the cannon and cannon ball

.cannon-ball
  position: absolute
  z-index: 1
  width: 75px
  height: 75px
  background-image: url('../img/cannon_ball.png')

.cannon
  cursor: default
  display: none
  position: absolute
  width: 210px
  height: 132px
  margin-top: 155px
  z-index: 2
  background-image: url('../img/cannon.png')

.target
  position: absolute
  width: 30px
  height: 90px
  background-image: url('../img/target.png')

.score
  color: white
  font-size: 3em
  background-color: #3c3d3f
  text-align: center
